<header>
    <div>
        <nav>
            <ul class="nav-rigth-section">
                <li>
                    <a href="">Gmail</a>
                </li>
                <li>
                    <a href="">Imagen</a>
                </li>
                <li class="menu-icon">
                    <a href=""></a>
                </li>
                <li>
                    <a href=""><img src="https://lh3.googleusercontent.com/ogw/ADea4I4peGyCpUTCl8CWutSmiGjslNPWoznjGYiD8w77=s32-c-mo" alt="user"></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

