<footer>
    <ul class="footer-left">
        <li>
            <a href="">Publicidad</a>
        </li>
        <li>
            <a href="">Negocios</a>
        </li>
        <li>
            <a href="">Acerca de</a>
        </li>
        <li>
            <a href="">como funcina</a>
        </li>
    </ul>
    <ul class="footer-right">
        <li>
            <a href="">Publicidad</a>
        </li>
        <li>
            <a href="">Condiciones</a>
        </li>
        <li>
            <a href="">Preferencias</a>
        </li>
    </ul>
</footer>